@font-face {
    font-family: 'poppins';
    src: url('../../Fonts/Poppins/bold/poppins-bold.eot');
    src: url('../../Fonts/Poppins/bold/poppins-bold.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/Poppins/bold/poppins-bold.woff2') format('woff2'),
         url('../../Fonts/Poppins/bold/poppins-bold.woff') format('woff'),
         url('../../Fonts/Poppins/bold/poppins-bold.svg#poppinsmedium') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'poppins';
    src: url('../../Fonts/Poppins/medium/poppins-medium.eot');
    src: url('../../Fonts/Poppins/medium/poppins-medium.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/Poppins/medium/poppins-medium.woff2') format('woff2'),
         url('../../Fonts/Poppins/medium/poppins-medium.woff') format('woff'),
         url('../../Fonts/Poppins/medium/poppins-medium.svg#poppinsmedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'poppins';
    src: url('../../Fonts/Poppins/regular/poppins-regular.eot');
    src: url('../../Fonts/Poppins/regular/poppins-regular.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/Poppins/regular/poppins-regular.woff2') format('woff2'),
         url('../../Fonts/Poppins/regular/poppins-regular.woff') format('woff'),
         url('../../Fonts/Poppins/regular/poppins-regular.svg#poppinsregular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'poppins';
    src: url('../../Fonts/Poppins/light/poppins-light.eot');
    src: url('../../Fonts/Poppins/light/poppins-light.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/Poppins/light/poppins-light.woff2') format('woff2'),
         url('../../Fonts/Poppins/light/poppins-light.woff') format('woff'),
         url('../../Fonts/Poppins/light/poppins-light.svg#poppinslight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'poppins';
    src: url('../../Fonts/Poppins/extralight/poppins-extralight.eot');
    src: url('../../Fonts/Poppins/extralight/poppins-extralight.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/Poppins/extralight/poppins-extralight.woff2') format('woff2'),
         url('../../Fonts/Poppins/extralight/poppins-extralight.woff') format('woff'),
         url('../../Fonts/Poppins/extralight/poppins-extralight.svg#poppinsthin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}